PORT=5001
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pos_coffee

# App Configuration
JWT_SECRET=supersecretcoffee_jwt_key_2026
UPLOAD_DIR=uploads-pos-coffee
